*{
margin: 0;
padding: 0;

}

body{
    font-family: 'Babylonica', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
width: 1520px;
height: 2550px;
}
p{
    line-height: 30px;  
  }
  .margin{
    margin-top: 10px;
 }

/* top nav header section style */

nav{
    display:flex;
    justify-content: space-around;
}
.text-primary{
    color: #cf143c;
}

.nav-title{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    align-items: center;
    
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 18px;
    font-size: 18px;
    padding: 9px 5px;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: #7b777786;
    cursor: pointer;
    transition: 0.2s;
}

 /* header related style */
 .first-heading{
background: rgba(229, 84, 115, 0.10);
width: 100%;
}
.btn-color{
color: white;
background-color: #E55473;
font-size: 13px;
border: none;
border-radius: 5px;
padding: 10px 15px;
font-weight: 500;
}
  
.banner{
padding: 20px 20px 0px 225px;
display: flex;
align-items: center;

}
.banner img{
    width: 430px;
     padding-left: 100px;
    

}

/* featured section style */
.featured-content{
    text-align: center;
    margin-top: 70px;
}
.featured-img{
     margin: 60px 150px;
     padding: 60px 10px;
     background-color:white;
     text-align: center;
     display: flex;
}

.img1{
    width: 300px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-left: 20px;
    padding: 0 25px;
    height: 390px;
width: 300px;

}
.img2{

    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
margin-left: 20px;
height: 390px;
width: 300px;
padding: 0 25px;
background-size: 100px;

}
.img3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-left: 20px;
    height: 390px;
   width: 300px;
    padding: 0 25px;
    
}
.featured-img figcaption{
    text-decoration: underline;
}

/* icon and support section */
figure{
    display: inline-block;
}
.icon-section{
    text-align: center;
    background: rgba(39, 39, 39, 0.05);
    padding: 60px 10px;
    margin: 60px 240px 60px 183px;

}
.icon-section figure img, figcaption{
    padding: 0 60px;
}
/* discount section */
.discount{
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 210px;
  background: rgba(229, 84, 115, 0.05);

}
.discount img{
    padding-left: 100px;
}
 
/* insta section */

.insta{
    text-align: center;
    padding: 50px;
}
.insta img{
    margin-top: 10px;
    width:250px;
    margin-left:5px;
}
/* subscribe section */
.subscribe{
    background-image: url('images/Rectangle\ 9.png');
    text-align: center;
    background-repeat: no-repeat;
    margin: 0px 248px;
    padding:60px 0 ;
    border-radius: none;
}
.email{
    font-size: 20px;
    padding: 3px ;
}


/* footer */
.footer{
    text-align: center;
     color: white;
    background-color: #111010;
    padding: 60px 0;
    margin-top: 60px ;
}
.footer small{
    color: rgba(255, 255, 255, 0.40);
   font-family: Lato;
    font-size: 16px;
    padding: 19px;
    display: inline-block;
    
    
   }
   .footer-span{
    color: white;
   }


