*{

}
/* common style */
body{
    font-family: 'Babylonica', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;

}
/* top nav header section style */

nav{
    display:flex;
    justify-content: space-around;
}
.text-primary{
    color: #cf143c;
}

.nav-title{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    align-items: center;
    
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 15px;
    font-size: 18px;
    padding: 9px 5px;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: #7b777786;
    cursor: pointer;
    transition: 0.2s;
}
 /* header related style */

 .first-heading{
background: rgba(229, 84, 115, 0.10);
}
.btn-color{
    color: white;
background-color: #E55473;
font-size: 13px;
border: none;
border-radius: 5px;
padding: 10px 15px;
font-weight: 500;
}
  
.banner{
    padding: 20px 20px 20px 210px;
display: flex;
align-items: center;

}
.banner img{
    width: 460px;
    

}
.banner >h1{
    

}


