*{

}
/* common style */
body{
    font-family: 'Babylonica', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;

}
/* top nav header section style */

nav{
    display:flex;
    justify-content: space-around;
}
.text-primary{
    color: #cf143c;
}

.nav-title{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    align-items: center;
    
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 15px;
    font-size: 18px;
    padding: 9px 5px;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: #7b777786;
    cursor: pointer;
    transition: 0.2s;
}
 /* header related style */

 .first-heading{
background: rgba(229, 84, 115, 0.10);
}
.btn-color{
    color: white;
background-color: #E55473;
font-size: 13px;
border: none;
border-radius: 5px;
padding: 10px 15px;
font-weight: 500;
}
  
.banner{
    padding: 20px 20px 20px 210px;
display: flex;
align-items: center;

}
.banner img{
    width: 460px;
    

}

/* featured section style */
.featured-section{
    text-align: center;
}
figure{
display: inline-block;
}
.featured-img1{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.featured-img2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.featured-img3{border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.featured figcaption{
    text-decoration: underline;
}

/* icon and support section */
.icon-section{
    text-align: center;
    margin: 40px 100px;
background: rgba(39, 39, 39, 0.05);
}
/* discount section */
.discount{
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 210px;
}
 
/* insta section */

.insta{
    text-align: center;
}
/* subscribe section */
.subscribe{
    background-image: url("Flower\ Asset");
}


